.card{
    width: 200px;
    background: rgba(1, 1, 1, 0.9);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-bottom: 50px;
}

.card__video{
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-height: 110px;
    background-color: white;
    position: relative;
}

.card__video-span{
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: 3.5rem;
    font-weight: 300;
    bottom: 0;
}

.card__video-span-city{
    width: 100%;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.card__video-span-city:hover{
    background: rgba(255, 255, 255, .7);
    color: rgba(1, 1, 1, 0.9);
    transform: scale(1.1);
    box-shadow: 0px 10px 13px -7px #262525, 5px 5px 15px 5px rgba(84, 79, 79, .2);
    margin-left: 5px;
}

.card__video>img {
    height: 100%;
    width: 100%;
}

.card__button{
    font-size: 2rem;
    transition: all .5s;
}

.card__button:hover{
    font-size: 2.1rem;
    transform: rotate(180deg);
}